export GOOGLE_MAPS_API_KEY=$(pass google-geocoding-api-key)
export ANTHROPIC_API_KEY=$(pass api/anthropic)
export OPENROUTER_KEY=$(pass api/openrouter)
export PUSHOVER_USERKEY=$(pass api/pushover/user-key)
export PUSHOVER_KEY=$(pass api/pushover/production)
